In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [5]:
num_records = 100

In [7]:
data = []

In [29]:
for _ in range(num_records):
    record = {
        "timestamp": datetime.now() - timedelta(minutes=np.random.randint(0, 1440)),
        "patient_id": f"PAT{np.random.randint(100, 999)}",
        "heart_rate": np.random.randint(60, 100),  # Normal heart rate range
        "blood_pressure": f"{np.random.randint(100, 140)}/{np.random.randint(60, 90)}", 
        "oxygen_level": np.random.randint(95, 100),
        "body_temp": round(np.random.uniform(36.0, 38.0), 1)
    }

In [31]:
df = pd.DataFrame(data)

In [33]:
df.to_csv("healthcare_data.csv", index=False)
df.to_json("healthcare_data.json", orient="records")

In [35]:
df.head()

Empty DataFrame
Columns: []
Index: []